.custom-toolbar {
 background-color: #35c27c;
}


.btn-rojo {
 background-color: rgb(255, 255, 255);
 border-radius: 4px;
 margin: 4px;
 border: none;
}

.btn-rojo mat-icon {
 color: rgb(255, 255, 255);
}



.btn-azul {
 background-color: rgb(255, 255, 255);
 border-radius: 4px;
 margin: 4px;
 border: none;
}

.btn-azul mat-icon {
 color: rgb(255, 255, 255);
}




.custom-toolbar button,
.custom-toolbar mat-icon {
 color: rgb(0, 0, 0);
}

